/*.workspace-background{
  border: 1px solid rgba(255, 255, 255, 0.03);
}*/
#panel {
  background-color: transparent;
  margin-top: 12px;
  margin-bottom: 4px;
  height: 40px;
  font-size: 15px;
  box-shadow: none !important;
}
/* clock fix */
.clock-display {
  background-color: transparent !important;
  box-shadow: none !important;
  border: none !important;
}
.clock {
  margin: 0 !important;
  border-radius: 12px;
}
.panel-button {
  margin-left: 4px;
  margin-right: 4px;
  border-radius: 12px;
}
#calendarArea {
  padding: 0;
}
.datemenu-calendar-column {
  margin: 0px;
}
.calendar-day-with-events {
  font-weight: 800;
}
.dnd-button {
  width: 48px;
  border-radius: 15px;
  /* box-shadow: 0 2px 5px -4px black !important; */
  box-shadow: none !important;
}
.slider,
.level {
  height: 16px;
  -barlevel-height: 3px;
  -barlevel-background-color: #523874;
  /* fill */
  -barlevel-active-background-color: #adf182;
  /* overfill */
  -barlevel-overdrive-color: #adf182;
  -barlevel-overdrive-separator-width: 2px;
  -slider-handle-radius: 7px;
}
.app-well-app-running-dot {
  background-color: #adf182;
  width: 20px;
  height: 5px;
  border-radius: 4px;
}
.popup-menu-content {
  padding: 16px;
  border-radius: 24px;
  background-color: #000000;
  border: 2px solid #adf182;
}
.ws-switcher-indicator {
  height: 10px;
  width: 10px;
}
.modal-dialog,
.popup-menu-item,
.quick-toggle-menu {
  margin: 5px;
  border-radius: 12px;
  background-color: #000000;
  border: 2px solid #adf182;
}
.panel-button .panel-button,
.popup-inactive-menu-item {
  border: none !important;
}
.quick-toggle-menu { 
  background-color: #000000 !important;
}
.dash-background {
  background-color: transparent !important;
  border: none !important;
}
.quick-toggle-menu .header {
  border: 2px solid #adf182;
  background-gradient-direction: horizontal;
  background-gradient-start: #523874;
  background-gradient-end: #916cad;
  border-radius: 15px;
  padding: 20px;
}
.popup-separator-menu-item-separator {
  background-color: #6eb5e8;
}
.calendar-month-label,
.datemenu-today-button,
.events-button,
.world-clocks-button,
.message-list-controls {
  color: #adf182 !important;
}
.workspace-thumbnail,
.workspace-switcher {
  border: 2px solid #adf182;
}
.workspace-thumbnail-indicator {
  border: 2px solid #fdb047;
}

.calendar-day:selected:hover,
.calendar-day:active:hover,
/*.popup-submenu-item:checked,*/
.panel-button:active,
.panel-button:checked,
.panel-button:active .clock,
.popup-menu-item:checked,
/*.calendar-today,
.calendar-today:selected,*/
.calendar-day-base:active,
.calendar-day-base:selected,
.calendar-day:selected,
.events-button:active,
.world-clock-button:active,
.weather-button:active,
.button:active,
.notification-button:active,
.message-media-control:hover,
.edit-folder-button:active,
/*StEntry:active,*/
.list-search-result:active, .search-provider-icon:active,
.switcher-list .item-box:selected,
.modal-dialog-linked-button:active,
.nm-dialog-item:selected,
.icon-button:active,
.quick-toggle:checked,
.quick-slider .icon-button:active {
  border: 2px solid #fdb047;
  background-color: #bd4027;
  color: #ffffff;
  box-shadow: none !important;
}
.calendar-today,
.calendar-today:selected,
.panel-button,
.clock,
.clock-display StIcon,
/*.popup-menu-content,*/
/*.popup-menu-item,*/
/*.popup-sub-menu .popup-menu-item,*/
/*.calendar,
.events-button,
.world-clocks-button,
.weather-button,*/
.message,
.message-close-button,
.message-media-control,
.button,
.button:inactive,
.button:insensitive,
.message-list-clear-button,
.notification-banner,
.notification-button,
/*.app-well-app.app-folder .overview-icon,
.app-well-app.app-folder .overview-icon,
.app-well-app .overview-icon,
#dash .dash-background,
.dash-label,
.show-apps .overview-icon,*/
.show-apps .overview-icon,
.app-folder-dialog,
.edit-folder-button,
.osd-window,
.switcher-list,
.resize-popup,
.search-section-content,
.list-search-result, .search-provider-icon,
.list-search-result:selected, .search-provider-icon:selected,
.switcher-list .item-box,
.modal-dialog-linked-button,
.nm-dialog-scroll-view,
.system-menu-action,
.window-close,
.window-caption,
.app-folder-dialog,
.popup-menu-content .icon-button,
.header .icon {
  border: 2px solid #adf182;
  background-color: #523874;
  color: #c7fba5;
  box-shadow: none !important;
}
.panel-button:hover,
.panel-button:hover .clock,
.popup-menu-item:hover,
.pager-button:hover,
.pager-button:focus,
.popup-sub-menu .popup-menu-item:hover,
.calendar-day-base,
/*.calendar-month-label,*/
.calendar-day:hover,
.calendar,
.events-button,
.world-clocks-button,
.weather-button,
.events-button:hover,
.world-clocks-button:hover,
.weather-button:hover,
.message-close-button:active,
.message-close-button:hover,
/*.message-media-control:hover,*/
.dnd-button:hover,
.app-well-app:hover .overview-icon,
.app-well-app:focus .overview-icon,
.show-apps:hover .overview-icon,
.show-apps:focus .overview-icon,
.edit-folder-button:hover,
.list-search-result:focus, .search-provider-icon:focus,
.list-search-result:hover, .search-provider-icon:hover,
.switcher-list .item-box:hover,
.switcher-list .item-box:focus,
.modal-dialog-linked-button:hover,
.icon-button:hover,
.quick-slider .icon-button:hover,
.quick-toggle:hover,
.quick-toggle:checked:hover {
  color: #ffffff;
  background-color: #1c2e4d;
  border: 2px solid #6eb5e8;
  box-shadow: none !important;
}
.message-media-control,
.icon-button,
.quick-toggle {
  border: none !important;
}
.message-media-control:hover,
.quick-toggle:checked {
  background-gradient-direction: horizontal;
  background-gradient-start: #a8422d;
  background-gradient-end: #ec5638;
  color: #ffffff !important;
  border: 2px solid #fdb047 !important;
}
.quick-toggle:hover {
  background-gradient-direction: horizontal;
  background-gradient-start: #3962c8;
  background-gradient-end: #6eb5e8;
  color: #ffffff !important;
}
.quick-toggle {
  background-gradient-direction: horizontal;
  background-gradient-start: #523874;
  background-gradient-end: #916cad;
  color: #80ff31 !important;
}
